<header>
    <h1> {{titulo}} </h1>

    <nav>
      <a routerLink="/registro" routerLinkActive="activate-tab">Registro</a>
      <a routerLink="/buscador" routerLinkActive="activate-tab">Buscador Pokemon</a>
      <a routerLink="/bulbasaur" routerLinkActive="activate-tab">Bulbasaur</a>
      <a routerLink="/gastly" routerLinkActive="activate-tab">Gastly</a>
      <a routerLink="/growlithe" routerLinkActive="activate-tab">Growlithe</a>
      <a routerLink="/jolteon" routerLinkActive="activate-tab">Jolteon</a>
      <a routerLink="/machop" routerLinkActive="activate-tab">Machop</a>
      <a routerLink="/psyduck" routerLinkActive="activate-tab">Psyduck</a>
    </nav>

    <main>
        <router-outlet></router-outlet>
    </main>

</header>